{% extends 'base.html.twig' %}

{% block full_height %}{% endblock %}

{% block title %}Mon panier - La boutique{% endblock %}

{% block content %}
    <div class="bg-light p-3">
        <h1>Motre panier</h1>
    </div>

    {% if items | length > 0 %}
        <div class="text-right">
            <a href="{{ path('cart_full_remove') }}" class="btn btn-danger pull-right mt-3 mb-3">Vider mon panier</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <th scope="row">
                            <img src="/uploads/{{item.product.illustration}}" alt="{{ item.product.name }}" height="75px">
                        </th>
                        <td>
                            {{ item.product.name }}<br/>
                            <small class="d-none d-lg-block">{{ item.product.subtitle }}</small>
                        </td>
                        <td>
                            <a href="{{ path('cart_decrease', {'id': item.product.id}) }}" alt="Enlever une unité">
                                <i class="fas fa-angle-left"></i>
                            </a>
                            x {{ item.quantity }} 
                            <a href="{{ path('cart_add', {'id': item.product.id}) }}" alt="Ajouter une unité">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </td>
                        <td>{{ (item.product.price / 100)|number_format(2) }} €</td>
                        <td>{{ (item.product.price * item.quantity / 100)|number_format(2) }} €</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <b>Total de mon panier : {{ (total / 100)|number_format(2) }} €</b><br>
            <a href="#" class="btn btn-success pull-right mt-3 mb-3">Valider mon panier</a>
        </div>
    {% else %}
        <b>Votre panier est vide pour le moment.</b>
    {% endif %}
{% endblock %}
