{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - La boutique{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-md-5">    
            <img src="/uploads/{{product.illustration}}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <p>{{ (product.price / 100)|number_format(2) }} €</p>
            <hr>
            <p>{{ product.description }}</p>
            <hr>
            <a href="{{ path('cart_add', {'id': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
            <br><br>
        </div>
    </div> 

    <hr class="mt-5">
    <div class="text-center mt-5">
        <h1>Nos Meilleures ventes</h1>
        <p>Découvrez les articles les plus vendus.</p>
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
