<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La Boutique, la meilleure.">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}La Boutique{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% block javascript %}
    {% endblock %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">La boutique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('products') }}">Nos produits</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="/admin">Administration</a> |
                    {% endif %}
                    <a href="{{ path('account') }}">Mon compte <small>({{ app.user.firstname }})</small></a> | 
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a> | 
                    <a href="{{ path('register') }}">Inscription</a>
                {% endif %}
                | 
                <a href="{{ path('cart') }}">
                    Mon panier 
                    <small>( {{ CartService.countCart() }} 
                    {% if CartService.countCart() == 1 %}
                        produit
                    {% elseif CartService.countCart() == 0 %}

                    {% else %}
                        produits
                    {% endif %})
                    </small>
                </a>
            </div>
        </div>
    </nav>
</header>

<main role="main">

    <div class="container-info">
        <div class="inner-info">
            <span>i</span>
            <h1>A titre informatif</h1>
            <p>Ce site web n'est que le resultat de mon processus d'apprentissage. L'ensemble de son contenu est donc fictif.</p>
            <p>Vous pouvez néanmoins parcourir l'ensemble des fonctionnalités mises en place. Une aministration est aussi implémentée. Contactez moi à l'adresse <strong>redha.boubakour@yahoo.fr</strong> afin que je puisse vous passer le nom du compte ainsi que le mot de passe.</p>
            <p>A très bientôt.</p>
            <p>Mohamed Rédha BOUBAKOUR</p>
            <p>Le cours suivi : <strong>Apprendre Symfony 5 par la création d'un site e-commerce - Udemy</strong></p>
        </div>
    </div>

    {% if block('carousel') is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for key,header in headers %}
                <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for key,header in headers %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration }}'); background-size: cover;">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>{{ header.title }}</h1>
                        <p>{{ header.content }}</p>
                        <p><a class="btn btn-lg btn-info" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}

    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">
        {% block content %}
        {% endblock %}
    </div><!-- /.container -->

    {% if block('full_height') is defined %}
        <!-- FOOTER -->
        <div class="push"></div>
        <footer class="footer-full-height">
            <p class="navbar-item-custom">&copy; 2021 - La boutique</p>
            <a href="#">Politiques de confidentialité</a> | 
            <a href="#">Mentions légales</a>
        </footer>
    {% else %}
        <!-- FOOTER -->
        <footer class="footer-custom">
            <p class="navbar-item-custom">&copy; 2021 - La boutique</p>
            <a href="#">Politiques de confidentialité</a> | 
            <a href="#">Mentions légales</a>
        </footer>
    {% endif %}

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
{% block script %}
{% endblock %}
</html>