{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %} 

{% block full_height %}{% endblock %}

{% block title %}Mon récapitulatif - La boutique{% endblock %}



{% block content %}
    <h1 class="h3 mb-3 font-weight-normal">Mon récapitulatif</h1>
    <p>Vérifier vos informations avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison : </strong><br>
            <div class="order-sumary-item">
                {{ delivery|raw }}
            </div>

            <hr>
            <strong>Mon transporteur :</strong><br>
            <div class="order-sumary-item">
                {{ carrier.name }} <br>
                {{ carrier.description }} <br>
                {{ (carrier.price / 100)|number_format(2, '.', ' ') }} €
            </div>
        </div>
        <div class="col-md-6">
            <strong>Ma commande :</strong>
            <div class="order-sumary">
                {% for item in items %}
                    <div class="row order-sumary-item">
                        <div class="col-3">
                            <img src="/uploads/{{item.product.illustration}}" alt="{{ item.product.name }}" height="75px">
                        </div>
                        <div class="col-6 my-auto">
                            {{ item.product.name }}<br/>
                            <small>x {{ item.quantity }}</small>
                        </div>
                        <div class="col-3 my-auto">{{ (item.product.price * item.quantity / 100)|number_format(2, '.', ' ') }} €</div>
                    </div>
                {% endfor %}
            </div>

            <hr>
            <strong>Sous-total : {{ (total / 100)|number_format(2, '.', ' ') }} €</strong><br>
            <strong>Livraison : {{ (carrier.price / 100)|number_format(2, '.', ' ') }} €</strong>
            <hr>
            <strong>Total : {{ ((total / 100) + (carrier.price / 100))|number_format(2, '.', ' ') }} €</strong>
            <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer | {{ ((total / 100) + (carrier.price / 100))|number_format(2, '.', ' ') }} €</a>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51IHQo6ACSMGSUiVugJXGlfdxaMc7Mo1Xh7PyunjvP6cvaIfe5EkkmPgxv5snBTEIv8yPSudHMKdi2cc9kFsuW7ri00Ggm2nwsL");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
        fetch("/commande/create-session/{{ reference }}", {
            method: "POST",
        })
            .then(function (response) {
            return response.json();
            })
            .then(function (session) {
                if (session.error == 'order') {
                    //redirection
                    window.location.replace('{{ path('order') }}');
                } else {
                    return stripe.redirectToCheckout({ sessionId: session.id }); 
                }

            })
            .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
            })
            .catch(function (error) {
            console.error("Error:", error);
            });
        });
    </script>
{% endblock %}